body {
  font-family: var(--bs-font-sans-serif);
  background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/4584.png);
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  margin: 20px;
  font-family: "Josefin Sans",
    sans-serif;

}

h1,
h2,
h4,
h6,
small,
li {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

h6 {
  color: #7c45e2;
  font-weight: bold;
  font-size: 18px;
}

h2 {
  font-size: 55px;
  font-weight: bold;
}

h4 {
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
}


ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
}

.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "PT Serif", serif;
}

.weatherApp {
  background: linear-gradient(to bottom, #9dedf0 0%, #ca5f94 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #2b1d2a;
  font-weight: 500;
  border: 1px solid #ad6c7e;
  border-radius: 40px;
  box-shadow: 10px 5px 5px #613274;
  padding: 15px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 14px;
}

.search-form {
  padding-top: 20px;
}

.search-button {
  padding: 10px;
  margin: 20px;
  border-radius: 14px;
  border-width: 1px;
  border-color: transparent;
  transition: all 150ms ease-in-out;
  font-family: "PT Serif", serif;
}

.search-button:hover {
  color: #f1cae1;
  background-color: #932dce;
}


.weather-temperature strong {
  color: #ffffff;
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  top: -34px;
  text-decoration: none;
}

.fahrenheit-link,
.celsius-link {
  color: #ffffff;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

.fahrenheit-link:hover,
.celsius-link:hover {
  color: #795b63;
}

.tempDisplay {
  padding-top: 10px;
}

.cityInfo {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.icon {
  text-align: justify;
}

.city,
.time,
.emoji,
.dayOverview,
.currentTemp,
.humidity,
.wind {
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
}

.cityInfo,
.tempDisplay,
.humidityWindDisplay {
  padding-top: 15px;
  padding-bottom: 15px;
}

.time {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 15px;
}

.dayOverview {
  font-size: 20px;
  font-family: "PT Serif", serif;
}

.temp {
  font-size: 40px;
  color: #ffffff;
}

.bg-custom {
  border-radius: 14px;
  background-color: transparent;
}

.navbar-brand {
  color: rgb(209, 203, 203);
}

.weather-forecast-date {
  font-size: 20px;
  font-family: "PT Serif", serif;
}

.weather-forecast-temperature-max {
  color: #ffffff;
  font-size: 18px;
}

.weather-forecast-temperature-min {
  color: rgb(209, 203, 203);
  font-size: 18px;
}

.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "PT Serif", serif;
}

.github-link {
  color: #ffffff;
  transition: all 120ms ease-in-out;
  text-decoration: none;
}

.github-link:hover {
  color: rgb(209, 203, 203);
  font-family: "Montserrat", sans-serif;
}

.name {
  font-family: "Montserrat", sans-serif;
}

.timestamp {
  font-size: 12px;
}